<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body class="bg-gray-200">

    <div class="bg-blue-800 w-screen p-10">
        <h1 class="text-3xl font-bold text-white text-center">Paisagens incríveis!</h1>
    </div>


    <div class="max-w-sm rounded overflow-hidden shadow-md mx-auto mt-8">
        <img class="w-full" src="https://media.istockphoto.com/id/485772857/pt/foto/penhascos-de-moher-ao-p%C3%B4r-do-sol-em-co-clare-irlanda-europa.jpg?s=612x612&w=0&k=20&c=6hY0HxJeEkuEot0p7xo14YOtkRp0CQarywPWHhX4R7A=" alt="Falésias de Moher">
        <div class="px-6 py-4 bg-white">
          <div class="font-bold text-xl mb-2">O pôr do sol Irlandês</div>
          <p class="text-gray-700 text-base">
            As Falésias de Moher ao entardecer são uma das paisagens mais impressionantes da Irlanda. O sol poente ilumina as falésias, criando uma paisagem mágica e romântica. As cores mudam constantemente, do laranja ao rosa, do vermelho ao roxo. É um momento de paz e contemplação, que você nunca esquecerá. Se você tiver a oportunidade de visitar as Falésias de Moher ao entardecer, não perca a chance de ver esta incrível maravilha natural.
          </p>
        </div>
        <hr/>
        <div class="px-6 pt-4 pb-2 bg-gray-100 flex justify-between">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#fotografia</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#viagem</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 cursor-pointer">#Irlanda</span>
        </div>
      </div>    
</body>
</html>