<div class="text-slate-400 bg-slate-300 p-8">

    <div class="hidden md:block">
        <div class="flex flex-row justify-between items-center">
            <span class="flex flex-row gap-7 text-2xl">
                <i class="fa-brands fa-square-facebook cursor-pointer"></i>
                <i class="fa-brands fa-square-instagram cursor-pointer"></i>
                <i class="fa-brands fa-square-twitter cursor-pointer"></i>
            </span>    
            <span>
                2023 &copy Todos os direitos reservados Fábio Pedro
            </span>
        </div>
    </div>

    <div class="block md:hidden">
        <div class="flex flex-col text-center">
            <span class="flex flex-row justify-evenly text-2xl">
                <i class="fa-brands fa-square-facebook cursor-pointer"></i>
                <i class="fa-brands fa-square-instagram cursor-pointer"></i>
                <i class="fa-brands fa-square-twitter cursor-pointer"></i>
            </span>    
            <span class="mt-6">
                2023<br/>&copy Todos os direitos reservados<br/>Fábio Pedro
            </span>
        </div>
    </div>

</div>
