<div class="bg-blue-800 text-white p-10 flex flex-row items-center justify-between">
    <span class="flex flex-col md:flex-row items-center gap-5">
        <img src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/null/external-travel-airport-icongeek26-linear-colour-icongeek26-1.png" alt="Paisagens Magníficas">
        <h1 class="text-3xl font-bold text-center">Paisagens Magníficas!</h1>
    </span>
    <span class="flex flex-col gap-4 md:flex-row text-2xl text-right">
        <i class="fa-brands fa-square-facebook cursor-pointer"></i>
        <i class="fa-brands fa-square-instagram cursor-pointer"></i>
        <i class="fa-brands fa-square-twitter cursor-pointer"></i>
    </span>
</div>
