<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="shortcut icon" href="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/null/external-travel-airport-icongeek26-linear-colour-icongeek26-1.png"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %}</title>

</head>

<body>
    <header>
        {% include 'partials/header.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% include 'partials/footer.html' %}
    </footer>
</body>

</html>